#posts {
    color:white;
    font-family:Arial;
    background-color: #f9f9f9;
  }
  #posts div{
    padding:12px;
    font-size:14px;
    border-radius:2px;
    display:inline-block;
    margin:0px 0px 20px 0px;
    background:grey;
    text-align:center;
    min-width:90px;
    min-height:90px;
    border-bottom:10px solid rgba(0,0,0,.15);
  }

  #posts .facebook{ background:#3a5795;}
  #posts .instagram{ background:#517fa4;}
  #posts .youtube{ background:#b31217;}
  #posts .twitter {background:#00a5e5;}
 
  #posts div i,#posts div .count { 
    padding: 10px;
    display:block;
    font-size:30px;
  }
  #total,#total_k {
    padding: 10px;
    font-weight:bold;
    font-size:20px;
  }
  #total:before, #total_k:before  {
     content:'Total Fans: ';
    font-weight:normal;
  }